<openlayers ng-if="size && center" ol-center="center" height="{{size.height}}px" width="{{size.width}}px" ol-defaults="defaults">

	<ol-marker lat="you.lat" lon="you.lon"  ol-label="you.label" ol-style="you.style"></ol-marker>
	
	<ol-marker ng-repeat="estagio in runningQuest.estagios" lat="estagio.latitude" lon="estagio.longitude" ></ol-marker>

</openlayers>

<div class="_button-center-top" ng-if="runningQuest" ng-click="controller.openOrCloseCamera()">
	{{ (cameraIsOpen)?'Close':'Open' }} Camera

	<div id="my_camera" ng-show="cameraIsOpen"></div>

	<button class="btn btn-sm btn-default" ng-show="cameraIsOpen" ng-click="controller.take_snapshot()">
		Coletar Pista
	</button>

	<!-- <ng-camera ng-if="cameraIsOpen"
	    capture-message="Cheeeese!"
	    countdown="3"
	    image-format="jpeg"
	    jpeg-quality="100"
	    action-message="Take picture"
	    snapshot="picture"
	></ng-camera> -->
	

</div>



<div class="_button-center">
	<i class="fa fa-bars " 
	ng-click="controller.actionButtonOpenQuests()"
	aria-hidden="true"></i>
</div>

<i class="fa fa-shopping-bag _button _button-left" 
	aria-hidden="true" 
	ng-click="controller.actionButtonOpenInventario()">
</i>

<i class="fa fa-users _button _button-right" 
	aria-hidden="true" 
	ng-click="controller.actionButtonOpenFriends()">
</i>

<div ng-include="'./app/main/inventario.view.html'"></div>
<div ng-include="'./app/main/friends.view.html'"></div>
<div ng-include="'./app/main/quests.view.html'"></div>

<!-- 
<i class="fa fa-  _button-right _button-quests" aria-hidden="true"></i>	

 -->